@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  padding: 0;
}

body {
  background-color: #543864;
  color: white;
}

/* ---------------GLOBAL CLASSES------------------------- */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --------------------SCROLL BAR------------------------- */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #543864;
}

::-webkit-scrollbar-thumb {
  background: #aa6789;
  border-radius: 5px;
}

/* ---------NAVBAR---------------------- */

.navbar {
  background-color: #01024e;
  display: flex;
  justify-content: space-between;
  padding: 2em 1em;
}

.brand {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.3s;
  padding: 0.2em;
}

.level {
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.1rem;
  padding: 0.5em;
  cursor: pointer;
}

.level:hover,
.brand:hover {
  background-color: #ff6464;
  color: white(27, 27, 27);
  border-radius: 5px;
}

/* ----------RULES---------- */

.rules-container {
  padding: 1em;
}

/* ----------SCORE------------------- */

.score-container {
  display: flex;
  justify-content: space-evenly;
  padding: 4em;
}

.current-score-container,
.high-score-container {
  text-align: center;
}

.current-score,
.high-score {
  margin-bottom: 1em;
}

/* -------------------------CARD------------------- */
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5em;
  padding-bottom: 1em;
}

.card {
  display: flex;
  justify-content: center;
}

.card-img {
  background: #aa6789;
  width: 50%;
  padding: 1.5em;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: 1.5px solid black;
}

.card-img:hover {
  transform: scale(1.2);
}

/* --------------------GAMEOVER-------------------- */

.btn-container {
  display: flex;
  justify-content: center;
}

.gameover-button {
  margin-top: 2em;
  padding: 1em;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  background-color: #aa6789;
  color: white;
  transition: 0.3s ease-in-out;
}

.gameover-button:hover {
  background-color: #82529e;
  border: 1px solid white;
  transform: scale(1.2);
}
